flow.json
[{"id":"3fb1aea3.406252","type":"tab","label":"Itemsense Threshold Log Analyzer","disabled":false,"info":""},{"id":"1dcdb887.1252f7","type":"ui_group","z":"","name":"Threshold Logs","tab":"d69357f.93f63a8","order":2,"disp":true,"width":"32","collapse":false},{"id":"3bca568f.8c284a","type":"ui_group","z":"","name":"EPC Selector","tab":"d69357f.93f63a8","order":3,"disp":false,"width":"32","collapse":false},{"id":"f5d9dfa7.c66b6","type":"ui_group","z":"","name":"EPC Data Table","tab":"d69357f.93f63a8","order":5,"disp":false,"width":"32","collapse":false},{"id":"7c42c965.260c28","type":"ui_group","z":"","name":"EPC Charts","tab":"d69357f.93f63a8","order":4,"disp":false,"width":"32","collapse":false},{"id":"d69357f.93f63a8","type":"ui_tab","z":"","name":"ItemSense: IterationData","icon":"dashboard","disabled":false,"hidden":false},{"id":"4c04eba6.d0f774","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Impinuj Node-RED ItemSense Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cc4224dd.10c108","type":"ui_spacer","name":"spacer","group":"3bca568f.8c284a","order":4,"width":"7","height":1},{"id":"599a5135.b6844","type":"debug","z":"3fb1aea3.406252","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":60,"wires":[]},{"id":"a1c8adea.d5fee","type":"ui_ui_control","z":"3fb1aea3.406252","name":"","x":140,"y":200,"wires":[["e4e23c81.825c6"]]},{"id":"c36d4e76.bc3","type":"ui_template","z":"3fb1aea3.406252","group":"1dcdb887.1252f7","name":"Table - All Files","order":3,"width":"0","height":"0","format":"<style>\n\ntable {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\n\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */\n    \n.animate-enter, \n.animate-leave\n{ \n    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    position: relative;\n    display: block;\n} \n\n.animate-enter.animate-enter-active, \n.animate-leave {\n    opacity: 1;\n    top: 0;\n    height: 30px;\n}\n\n.animate-leave.animate-leave-active,\n.animate-enter {\n    opacity: 0;\n    top: -50px;\n    height: 0px;\n}\n    \n.container\n{\n    max-height: 450px;\n    overflow-y: scroll;\n    overflow-x: hidden;\n}\n</style>\n<div>\n  <div class=\"container\" ng-app=\"sortApp\">\n      <table>\n        <thead>\n        <tr style=\"width:100%\">\n            <td>\n          <a href=\"#\">\n            Index\n          </a>\n        </td>\n        <td>\n          <a href=\"#\" ng-click=\"sortType = 'name'; sortReverse = !sortReverse\">\n            Name \n            <span ng-show=\"sortType == 'name' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == 'name' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n        </td>\n        <td>\n          <a href=\"#\" ng-click=\"sortType = '(size -0)'; sortReverse = !sortReverse\">\n            Size \n            <span ng-show=\"sortType == '(size -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == '(size -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n        </td>\n        <td>\n          <a href=\"#\" ng-click=\"sortType = 'created'; sortReverse = !sortReverse\">\n            Created\n            <span ng-show=\"sortType == 'created' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == 'created' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n        </td>\n        <td>&nbsp;</td>\n\n          </tr>\n          </thead>\n          <tbody>\n        <tr ng-repeat=\"file in msg.files | orderBy:sortType:sortReverse | filter:search track by $index\" ng-click=\"msg.payload = file;send(msg);\" style=\"width:100%\" flex>\n                <td><b ng-bind=\"$index+1\"></b></td>\n               <td ng-bind=\"file\"></td>\n               <td ng-bind=\"msg.stats[msg.files.indexOf(file)].size\"></td>\n               <td ng-bind=\"msg.stats[msg.files.indexOf(file)].mtime\"></td>\n               <td><a download=\"{{file}}\" ng-href=\"/download/iterationData?f={{file}}\" target=\"_blank\">Download</a></td>\n         </tr>\n        </tbody>\n      </table>\n\n</div>\n</div>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":1380,"y":240,"wires":[["8bd31958.65c5d8","db53135a.3eba2","3a918fa4.15b64"]]},{"id":"8e8769d8.b6eed8","type":"file in","z":"3fb1aea3.406252","name":"Read File Contents","filename":"","format":"utf8","chunk":false,"sendError":false,"x":470,"y":400,"wires":[["7372408b.a7f99"]]},{"id":"b87887eb.6c9498","type":"catch","z":"3fb1aea3.406252","name":"","scope":null,"x":120,"y":60,"wires":[["599a5135.b6844"]]},{"id":"7372408b.a7f99","type":"function","z":"3fb1aea3.406252","name":"Parse JSON for EPCs","func":"var epcOptions = [];\nvar epcItems = [];\n\nvar jsonLog = JSON.parse('[' + msg.payload.replace(/}\\n{\"timestamp\"/g, '},{\"timestamp\"') + ']');\n\njsonLog.forEach((element, index) => {\n    Object.keys(element.data).forEach((epc) => {\n        \n        if(epcOptions.indexOf(epc) < 0) {\n            epcOptions.push(epc);\n            epcItems.push({epc: epc, data:[]});\n        }\n        \n        var epcItem = epcItems.find( (epcItem) => { return epcItem.epc === epc; });\n\n        var epcItemData = element.data[epc];\n        Object.keys(epcItemData).forEach((threshold) => {\n            var epcItemThresholdData = epcItemData[threshold];\n            epcItemThresholdData.threshold = threshold;\n            epcItemThresholdData.timestamp = element.timestamp;\n            \n            epcItem.data.push(epcItemThresholdData);\n        });\n    });\n});\n\n\ndelete msg['payload'];\n\nflow.set('epcItems', epcItems);\nmsg.options = epcOptions.sort();\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":400,"wires":[["340327fe.df06d8","7b9f0532.c2871c","95127f40.eef25"]]},{"id":"340327fe.df06d8","type":"ui_dropdown","z":"3fb1aea3.406252","name":"Dropdown - EPC","label":"Select an EPC:","tooltip":"","place":"Select EPC","group":"3bca568f.8c284a","order":3,"width":"10","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1390,"y":460,"wires":[["5d1c812f.b7205"]]},{"id":"3a83a0fc.ab44d","type":"ui_template","z":"3fb1aea3.406252","group":"f5d9dfa7.c66b6","name":"Table - EPC Details","order":2,"width":"32","height":"8","format":"<style>\n\ntable {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\n\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */\n    \n.animate-enter, \n.animate-leave\n{ \n    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    position: relative;\n    display: block;\n} \n\n.animate-enter.animate-enter-active, \n.animate-leave {\n    opacity: 1;\n    top: 0;\n    height: 30px;\n}\n\n.animate-leave.animate-leave-active,\n.animate-enter {\n    opacity: 0;\n    top: -50px;\n    height: 0px;\n}\n    \n.container\n{\n    max-height: 450px;\n    overflow-y: scroll;\n    overflow-x: hidden;\n}\n</style>\n<div>\n  <div class=\"container\" ng-app=\"sortApp\">\n    <table>\n      <thead>\n        <tr style=\"width:100%\">\n          <td>\n            <a href=\"#\">Index</a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = 'timestamp'; sortReverse = !sortReverse\">\n              Time\n              <span ng-show=\"sortType == 'timestamp' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == 'timestamp' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = 'threshold'; sortReverse = !sortReverse\">\n              Threshold \n              <span ng-show=\"sortType == 'threshold' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == 'threshold' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(maxRssi -0)'; sortReverse = !sortReverse\">\n              maxRssi\n              <span ng-show=\"sortType == '(maxRssi -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(maxRssi -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(totalCount -0)'; sortReverse = !sortReverse\">\n              totalCount\n              <span ng-show=\"sortType == '(totalCount -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(totalCount -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(totalConf -0)'; sortReverse = !sortReverse\">\n              totalConf\n              <span ng-show=\"sortType == '(totalConf -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(totalConf -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(inCount -0)'; sortReverse = !sortReverse\">\n              inCount\n              <span ng-show=\"sortType == '(inCount -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(inCount -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(inMaxRssi -0)'; sortReverse = !sortReverse\">\n              inMaxRssi\n              <span ng-show=\"sortType == '(inMaxRssi -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(inMaxRssi -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(inConf -0)'; sortReverse = !sortReverse\">\n              inConf\n              <span ng-show=\"sortType == '(inConf -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(inConf -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(outCount -0)'; sortReverse = !sortReverse\">\n              outCount\n              <span ng-show=\"sortType == '(outCount -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(outCount -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(outMaxRssi -0)'; sortReverse = !sortReverse\">\n              outMaxRssi\n              <span ng-show=\"sortType == '(outMaxRssi -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(outMaxRssi -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(outConf -0)'; sortReverse = !sortReverse\">\n              outConf\n              <span ng-show=\"sortType == '(outConf -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(outConf -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(leftCount -0)'; sortReverse = !sortReverse\">\n              leftCount\n              <span ng-show=\"sortType == '(leftCount -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(leftCount -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(leftMaxRssi -0)'; sortReverse = !sortReverse\">\n              leftMaxRssi\n              <span ng-show=\"sortType == '(leftMaxRssi -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(leftMaxRssi -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(leftConf -0)'; sortReverse = !sortReverse\">\n              leftConf\n              <span ng-show=\"sortType == '(leftConf -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(leftConf -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(rightCount -0)'; sortReverse = !sortReverse\">\n              rightCount\n              <span ng-show=\"sortType == '(rightCount -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(rightCount -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(rightMaxRssi -0)'; sortReverse = !sortReverse\">\n              rightMaxRssi\n              <span ng-show=\"sortType == '(rightMaxRssi -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(rightMaxRssi -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(rightConf -0)'; sortReverse = !sortReverse\">\n              rightConf\n              <span ng-show=\"sortType == '(rightConf -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(rightConf -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(laneCount -0)'; sortReverse = !sortReverse\">\n              laneCount\n              <span ng-show=\"sortType == '(laneCount -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(laneCount -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(laneMaxRssi -0)'; sortReverse = !sortReverse\">\n              laneMaxRssi\n              <span ng-show=\"sortType == '(laneMaxRssi -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(laneMaxRssi -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(laneConf -0)'; sortReverse = !sortReverse\">\n              laneConf\n              <span ng-show=\"sortType == '(laneConf -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(laneConf -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n        </tr>\n      </thead>\n      <tbody>\n        <tr ng-repeat=\"detail in msg.payload.data | orderBy:sortType:sortReverse | filter:search track by $index\" style=\"width:100%\" flex>\n          <td><b ng-bind=\"$index+1\"></b></td>\n          <td ng-bind=\"detail.timestamp\"></td>\n          <td ng-bind=\"detail.threshold\"></td>\n          <td ng-bind=\"detail.maxRssi\"></td>\n          <td ng-bind=\"detail.totalCount\"></td>\n          <td ng-bind=\"detail.totalConf\"></td>\n          <td ng-bind=\"detail.inCount\"></td>\n          <td ng-bind=\"detail.inMaxRssi\"></td>\n          <td ng-bind=\"detail.inConf\"></td>\n          <td ng-bind=\"detail.outCount\"></td>\n          <td ng-bind=\"detail.outMaxRssi\"></td>\n          <td ng-bind=\"detail.outConf\"></td>\n          <td ng-bind=\"detail.leftCount\"></td>\n          <td ng-bind=\"detail.leftMaxRssi\"></td>\n          <td ng-bind=\"detail.leftConf\"></td>\n          <td ng-bind=\"detail.rightCount\"></td>\n          <td ng-bind=\"detail.rightMaxRssi\"></td>\n          <td ng-bind=\"detail.rightConf\"></td>\n          <td ng-bind=\"detail.laneCount\"></td>\n          <td ng-bind=\"detail.laneMaxRssi\"></td>\n          <td ng-bind=\"detail.laneConf\"></td>\n        </tr>\n      </tbody>\n    </table>\n  </div>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1390,"y":700,"wires":[[]]},{"id":"d803c7ad.2e8bf8","type":"function","z":"3fb1aea3.406252","name":"Data Coordinator","func":"const epc = flow.get('epc');\nconst epcItems = flow.get('epcItems');\n\nconst epcItem = epcItems.find((epcItem) => { return epcItem.epc === epc; });\n\nvar startDate = flow.get(\"startDate\");\nvar endDate = flow.get(\"endDate\");\n\nif(msg.topic != \"redraw\" && epcItem && epcItem.data){\n    const epcItemData = epcItem.data.sort(function(a, b){\n        return a.timestamp == b.timestamp ? 0 : +(a.timestamp > b.timestamp) || -1;\n    });\n    \n    startDate = epcItemData[0].timestamp;\n    flow.set(\"startDate\", startDate);\n    \n    endDate = epcItemData[epcItemData.length-1].timestamp;\n    flow.set(\"endDate\", endDate);\n}\n\n\n\nreturn [{payload: epcItem}, {payload: startDate}, {payload: endDate}];","outputs":3,"noerr":0,"x":810,"y":700,"wires":[["3a83a0fc.ab44d","e6663437.4c9fa8","8b1c9968.6ace58"],["cbbe02df.40047"],["4f0e5c46.893564"]]},{"id":"7b9f0532.c2871c","type":"ui_text","z":"3fb1aea3.406252","group":"3bca568f.8c284a","order":1,"width":"15","height":"1","name":"Label - Log File","label":"Log File: ","format":"{{msg.file}}","layout":"row-left","x":1380,"y":360,"wires":[]},{"id":"dfcef4f8.c50068","type":"comment","z":"3fb1aea3.406252","name":"Start - List available log files","info":"Monitor all browser states, and Start file List process with 'connect'.","x":180,"y":140,"wires":[]},{"id":"e4e23c81.825c6","type":"switch","z":"3fb1aea3.406252","name":"Connect/Change/Lost?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"connect","vt":"str"},{"t":"eq","v":"change","vt":"str"},{"t":"eq","v":"lost","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":480,"y":200,"wires":[["fb83db49.b42ab8","3a918fa4.15b64"],[],[],["599a5135.b6844"]]},{"id":"bbb61f01.79df8","type":"template","z":"3fb1aea3.406252","name":"Reset Filename Text...","field":"file","fieldType":"msg","format":"handlebars","syntax":"plain","template":"(click on 'filename' in Threshold Logs table)","output":"str","x":1080,"y":340,"wires":[["7b9f0532.c2871c","95127f40.eef25"]]},{"id":"fb83db49.b42ab8","type":"change","z":"3fb1aea3.406252","name":"EDIT: Root Directory for iterationData log files","rules":[{"t":"set","p":"IterationDataDir","pt":"flow","to":"/itemsense/itemsense/home/itemsense/var/output/logs/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":180,"wires":[["9ead59bd.92ce48"]]},{"id":"9ead59bd.92ce48","type":"fs-ops-dir","z":"3fb1aea3.406252","name":"","path":"IterationDataDir","pathType":"flow","filter":"iterationData*.log","filterType":"str","dir":"files","dirType":"msg","x":780,"y":240,"wires":[["1f28e0f4.ed787f"]]},{"id":"1f28e0f4.ed787f","type":"fs-ops-stats","z":"3fb1aea3.406252","name":"","path":"IterationDataDir","pathType":"flow","filename":"files","filenameType":"msg","stats":"stats","sizeType":"msg","x":1040,"y":240,"wires":[["c36d4e76.bc3","bbb61f01.79df8","c64df13e.1b281","6628fb7d.f337d4","596fe2c5.5d9a3c"]]},{"id":"79486bf2.21dc84","type":"comment","z":"3fb1aea3.406252","name":"File Selected - Parse Content","info":"","x":180,"y":340,"wires":[]},{"id":"d97c3d7e.5f8e6","type":"comment","z":"3fb1aea3.406252","name":"EPC Selected - Show Read Details","info":"","x":200,"y":520,"wires":[]},{"id":"cdfefedb.c7f1f","type":"http in","z":"3fb1aea3.406252","name":"","url":"/download/iterationData","method":"get","upload":true,"swaggerDoc":"","x":240,"y":960,"wires":[["b6663013.1ab9"]]},{"id":"72f01ecd.72be1","type":"http response","z":"3fb1aea3.406252","name":"","statusCode":"200","headers":{},"x":1230,"y":960,"wires":[]},{"id":"b6663013.1ab9","type":"function","z":"3fb1aea3.406252","name":"Parse Filename","func":"msg.filename = flow.get(\"IterationDataDir\") + msg.payload.f;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":960,"wires":[["ca1abc1d.4fc68"]]},{"id":"ca1abc1d.4fc68","type":"file in","z":"3fb1aea3.406252","name":"Read File Contents","filename":"","format":"utf8","chunk":false,"sendError":false,"x":1040,"y":960,"wires":[["72f01ecd.72be1"]]},{"id":"43249a7f.6d2c54","type":"comment","z":"3fb1aea3.406252","name":"View File - Send file Contents","info":"Called from Browser link","x":190,"y":900,"wires":[]},{"id":"bedb5270.0b85b","type":"ui_chart","z":"3fb1aea3.406252","name":"Confidence","group":"7c42c965.260c28","order":2,"width":"32","height":"10","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"1000","removeOlderPoints":"10000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1710,"y":780,"wires":[[],[]]},{"id":"e6663437.4c9fa8","type":"function","z":"3fb1aea3.406252","name":"Series - Conf Chart","func":"//const thresholds = [...new Set(msg.payload.map(item => item.threshold))];\nconst fieldnames = ['inConf', 'outConf'];\n\nvar startDate = flow.get(\"startDate\");\nvar endDate = flow.get(\"endDate\");\n\nvar chartData = {};\n\nif(msg.payload && msg.payload.data){\n    msg.payload.data.forEach((item) => {\n        if(item.timestamp >= startDate && item.timestamp <= endDate){\n            fieldnames.forEach((fieldname) => {\n                var seriesKey = fieldname + \" (\" + item.threshold + \")\";\n                if(! chartData.hasOwnProperty(seriesKey)) {\n                    chartData[seriesKey] = [];\n                }\n                chartData[seriesKey].push({x:item.timestamp, y:item[fieldname]});\n            });\n        }\n    });\n}\nvar chart = {series: [], data: [], labels:[]};\n\nObject.keys(chartData).forEach((key) => {\n    chart.series.push(key);\n    chart.data.push(chartData[key]);\n    chart.labels.push(key);\n});\n\nreturn {payload: [chart]};","outputs":1,"noerr":0,"x":1390,"y":780,"wires":[["bedb5270.0b85b"]]},{"id":"c64df13e.1b281","type":"function","z":"3fb1aea3.406252","name":"Reset Chart / Send Series Data","func":"flow.set(\"startDate\", \"\");\nflow.set(\"endDate\", \"\");\n\nepc = flow.get('epc');\nreturn [{payload: []}, {payload: epc}];","outputs":2,"noerr":0,"x":510,"y":620,"wires":[["bedb5270.0b85b","ee140b66.7c7b38"],["d803c7ad.2e8bf8"]]},{"id":"8bd31958.65c5d8","type":"function","z":"3fb1aea3.406252","name":"Build Filename","func":"msg.file = msg.payload;\nmsg.filename = flow.get(\"IterationDataDir\") + msg.file;\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":400,"wires":[["8e8769d8.b6eed8"]]},{"id":"d6f27b37.0278e8","type":"debug","z":"3fb1aea3.406252","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1470,"y":120,"wires":[]},{"id":"ee140b66.7c7b38","type":"ui_chart","z":"3fb1aea3.406252","name":"Count","group":"7c42c965.260c28","order":1,"width":"32","height":"10","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Loading...","dot":true,"ymin":"","ymax":"","removeOlder":"1000","removeOlderPoints":"10000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1690,"y":740,"wires":[[],[]]},{"id":"8b1c9968.6ace58","type":"function","z":"3fb1aea3.406252","name":"Series - Count Chart","func":"//const thresholds = [...new Set(msg.payload.map(item => item.threshold))]\nconst fieldnames = ['inCount', 'outCount'];\n\nvar startDate = flow.get(\"startDate\");\nvar endDate = flow.get(\"endDate\");\n\nvar chartData = {};\n\nif(msg.payload && msg.payload.data){\n    msg.payload.data.forEach((item) => {\n        if(item.timestamp >= startDate && item.timestamp <= endDate){\n            fieldnames.forEach((fieldname) => {\n                var seriesKey = fieldname + \" (\" + item.threshold + \")\";\n                if(! chartData.hasOwnProperty(seriesKey)) {\n                    chartData[seriesKey] = [];\n                }\n                chartData[seriesKey].push({x:item.timestamp, y:item[fieldname]});\n            });\n        }\n    });\n}\n\nvar chart = {series: [], data: [], labels:[]};\n\nObject.keys(chartData).forEach((key) => {\n    chart.series.push(key);\n    chart.data.push(chartData[key]);\n    chart.labels.push(key);\n});\n\nreturn {payload: [chart]};","outputs":1,"noerr":0,"x":1400,"y":740,"wires":[["ee140b66.7c7b38"]]},{"id":"2f272895.2fe938","type":"ui_button","z":"3fb1aea3.406252","name":"","group":"1dcdb887.1252f7","order":2,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":240,"wires":[["9ead59bd.92ce48"]]},{"id":"cbbe02df.40047","type":"ui_text_input","z":"3fb1aea3.406252","name":"","label":"Start Date","tooltip":"","group":"3bca568f.8c284a","order":5,"width":"4","height":"1","passthru":false,"mode":"text","delay":300,"topic":"","x":1360,"y":820,"wires":[["8a6914fc.8cf9e8"]]},{"id":"4f0e5c46.893564","type":"ui_text_input","z":"3fb1aea3.406252","name":"","label":"End Date","tooltip":"","group":"3bca568f.8c284a","order":6,"width":"4","height":"1","passthru":false,"mode":"text","delay":300,"topic":"","x":1360,"y":860,"wires":[["2fdfbcfe.9b4804"]]},{"id":"8598a66b.ff5c08","type":"ui_button","z":"3fb1aea3.406252","name":"Button - Redraw","group":"3bca568f.8c284a","order":7,"width":"2","height":"1","passthru":false,"label":"Redraw","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"redraw","x":200,"y":700,"wires":[["d803c7ad.2e8bf8"]]},{"id":"5d1c812f.b7205","type":"function","z":"3fb1aea3.406252","name":"Save EPC","func":"flow.set('epc', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":580,"wires":[["c64df13e.1b281","2f31cc21.be6284"]]},{"id":"6628fb7d.f337d4","type":"function","z":"3fb1aea3.406252","name":"Reset EPC Options","func":"msg.options = [];\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":480,"wires":[["340327fe.df06d8"]]},{"id":"596fe2c5.5d9a3c","type":"function","z":"3fb1aea3.406252","name":"Reset EPC Label","func":"flow.set(\"epc\", \"\");\nreturn {payload: \"Select a Log File from the table above:\"};","outputs":1,"noerr":0,"x":1070,"y":560,"wires":[["2f31cc21.be6284"]]},{"id":"2f31cc21.be6284","type":"ui_text","z":"3fb1aea3.406252","group":"f5d9dfa7.c66b6","order":1,"width":0,"height":0,"name":"Label - Selected EPC","label":"EPC: ","format":"{{msg.payload}}","layout":"row-left","x":1400,"y":580,"wires":[]},{"id":"db53135a.3eba2","type":"function","z":"3fb1aea3.406252","name":"Reset EPC Label","func":"flow.set(\"epc\", \"\");\nreturn {payload: \"Select an EPC from the dropdown above:\"};","outputs":1,"noerr":0,"x":1730,"y":240,"wires":[["c64df13e.1b281"]]},{"id":"8a6914fc.8cf9e8","type":"template","z":"3fb1aea3.406252","name":"Save startDate","field":"startDate","fieldType":"flow","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":1720,"y":820,"wires":[[]]},{"id":"2fdfbcfe.9b4804","type":"template","z":"3fb1aea3.406252","name":"Save endDate","field":"endDate","fieldType":"flow","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":1720,"y":860,"wires":[[]]},{"id":"95127f40.eef25","type":"ui_text","z":"3fb1aea3.406252","group":"3bca568f.8c284a","order":2,"width":"10","height":"1","name":"Label - EPC Count","label":"EPC Count","format":"{{msg.options.length}}","layout":"row-left","x":1390,"y":400,"wires":[]},{"id":"d5182930.5f7ca8","type":"http in","z":"3fb1aea3.406252","name":"","url":"/upload/toi","method":"post","upload":true,"swaggerDoc":"","x":210,"y":1020,"wires":[["2ad82d68.b22882","7317717a.bf24e"]]},{"id":"4c2ec883.018c88","type":"debug","z":"3fb1aea3.406252","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":1080,"wires":[]},{"id":"2ad82d68.b22882","type":"http response","z":"3fb1aea3.406252","name":"","statusCode":"200","headers":{},"x":1240,"y":1020,"wires":[]},{"id":"3a918fa4.15b64","type":"ui_template","z":"3fb1aea3.406252","group":"1dcdb887.1252f7","name":"UPLOAD: Local FIle","order":1,"width":0,"height":0,"format":"<input id=\"logFile\" type=\"file\" name=\"fileToUpload\" accept=\".log\" value=\"\">\n<script>\n(function(scope){\n    function handleFileSelect(event) {\n        if(event && event.target && event.target.files){\n            var files = event.target.files;\n            var fullPath = event.target.value;\n            var fileName = fullPath.replace(/^.*[\\\\\\/]/, '');\n\n            for (var i = 0; i < files.length; i++) {\n                var reader = new FileReader();\n\n                reader.onload = function(){\n                    scope.send({file:fileName, payload:reader.result});\n                };\n    \n                reader.readAsText(files[i]);\n            }\n        }\n    };\n\n    scope.$watch('msg', function(msg){\n        document.getElementById('logFile').addEventListener('change', handleFileSelect, false);\n    });\n  \n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":820,"y":140,"wires":[["d6f27b37.0278e8","7372408b.a7f99"]]},{"id":"7317717a.bf24e","type":"function","z":"3fb1aea3.406252","name":"","func":"const fileArray = msg.req.files[0].buffer\nvar results = \"\";\n\nfileArray.read\nfilearray.forEach((value) =>{\n    results += String.fromCharCode(parseInt(value.toString(32)));\n});\n\nmsg.payload = results;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1080,"wires":[["4c2ec883.018c88"]]}]