flow.json
[{"id":"f3d8b51b.3c9ef8","type":"tab","label":"Itemsense Threshold Log Analyzer","disabled":false,"info":""},{"id":"1dcdb887.1252f7","type":"ui_group","z":"","name":"Threshold Logs","tab":"","order":2,"disp":true,"width":"32","collapse":false},{"id":"3bca568f.8c284a","type":"ui_group","z":"","name":"EPC Selector","tab":"","order":3,"disp":false,"width":"32","collapse":false},{"id":"f5d9dfa7.c66b6","type":"ui_group","z":"","name":"EPC Data Table","tab":"","order":5,"disp":false,"width":"32","collapse":false},{"id":"7c42c965.260c28","type":"ui_group","z":"","name":"EPC Charts","tab":"","order":4,"disp":false,"width":"32","collapse":false},{"id":"4c04eba6.d0f774","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Impinuj Node-RED ItemSense Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cc4224dd.10c108","type":"ui_spacer","name":"spacer","group":"3bca568f.8c284a","order":4,"width":"7","height":1},{"id":"d3ab91bf.fa1d2","type":"ui_group","z":"","name":"Last 20 Tags","tab":"","disp":true,"width":"17","collapse":false},{"id":"d032cf22.b59c2","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a563f0e9.8caff","type":"ui_group","z":"","name":"Signin","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"1adf179c.1c7598","type":"ui_group","z":"","name":"SensorData","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"19e5d34d.98f1ed","type":"ui_group","z":"","name":"History","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"5f9da8ad.1c4ce8","type":"ui_group","z":"","name":"Threshold Logs","tab":"c1c33bcb.34c238","order":1,"disp":true,"width":"32","collapse":false},{"id":"bdc5ea30.8432e8","type":"ui_group","z":"","name":"EPC Selector","tab":"c1c33bcb.34c238","order":2,"disp":false,"width":"32","collapse":false},{"id":"f4f7202d.69304","type":"ui_group","z":"","name":"EPC Data Table","tab":"c1c33bcb.34c238","order":4,"disp":false,"width":"32","collapse":false},{"id":"d04f4b33.2afbc8","type":"ui_group","z":"","name":"EPC Charts","tab":"c1c33bcb.34c238","order":3,"disp":false,"width":"32","collapse":false},{"id":"c1c33bcb.34c238","type":"ui_tab","z":"","name":"ItemSense: IterationData","icon":"dashboard","order":1},{"id":"f94a3bd1.933d78","type":"debug","z":"f3d8b51b.3c9ef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":60,"wires":[]},{"id":"30cd8211.586f5e","type":"ui_ui_control","z":"f3d8b51b.3c9ef8","name":"","x":140,"y":200,"wires":[["b6554945.89f1d8"]]},{"id":"6399f354.d8c2bc","type":"ui_template","z":"f3d8b51b.3c9ef8","group":"5f9da8ad.1c4ce8","name":"Table - All Files","order":3,"width":"0","height":"0","format":"<style>\n\ntable {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\n\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */\n    \n.animate-enter, \n.animate-leave\n{ \n    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    position: relative;\n    display: block;\n} \n\n.animate-enter.animate-enter-active, \n.animate-leave {\n    opacity: 1;\n    top: 0;\n    height: 30px;\n}\n\n.animate-leave.animate-leave-active,\n.animate-enter {\n    opacity: 0;\n    top: -50px;\n    height: 0px;\n}\n    \n.container\n{\n    max-height: 450px;\n    overflow-y: scroll;\n    overflow-x: hidden;\n}\n</style>\n<div>\n  <div class=\"container\" ng-app=\"sortApp\">\n      <table>\n        <thead>\n        <tr style=\"width:100%\">\n            <td>\n          <a href=\"#\">\n            Index\n          </a>\n        </td>\n        <td>\n          <a href=\"#\" ng-click=\"sortType = 'name'; sortReverse = !sortReverse\">\n            Name \n            <span ng-show=\"sortType == 'name' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == 'name' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n        </td>\n        <td>\n          <a href=\"#\" ng-click=\"sortType = '(size -0)'; sortReverse = !sortReverse\">\n            Size \n            <span ng-show=\"sortType == '(size -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == '(size -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n        </td>\n        <td>\n          <a href=\"#\" ng-click=\"sortType = 'created'; sortReverse = !sortReverse\">\n            Created\n            <span ng-show=\"sortType == 'created' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == 'created' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n        </td>\n        <td>&nbsp;</td>\n\n          </tr>\n          </thead>\n          <tbody>\n        <tr ng-repeat=\"file in msg.files | orderBy:sortType:sortReverse | filter:search track by $index\" ng-click=\"msg.payload = file;send(msg);\" style=\"width:100%\" flex>\n                <td><b ng-bind=\"$index+1\"></b></td>\n               <td ng-bind=\"file\"></td>\n               <td ng-bind=\"msg.stats[msg.files.indexOf(file)].size\"></td>\n               <td ng-bind=\"msg.stats[msg.files.indexOf(file)].mtime\"></td>\n               <td><a download=\"{{file}}\" ng-href=\"/download/iterationData?f={{file}}\" target=\"_blank\">Download</a></td>\n         </tr>\n        </tbody>\n      </table>\n\n</div>\n</div>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":1380,"y":240,"wires":[["e151f5b0.700128","abfb80e.eeff28","5777a7f8.3d1238"]]},{"id":"c7212b29.23c688","type":"file in","z":"f3d8b51b.3c9ef8","name":"Read File Contents","filename":"","format":"utf8","chunk":false,"sendError":false,"x":470,"y":400,"wires":[["a277bf25.72fe1"]]},{"id":"f7dc36a6.d19d28","type":"catch","z":"f3d8b51b.3c9ef8","name":"","scope":null,"x":120,"y":60,"wires":[["f94a3bd1.933d78"]]},{"id":"a277bf25.72fe1","type":"function","z":"f3d8b51b.3c9ef8","name":"Parse JSON for EPCs","func":"var epcOptions = [];\nvar epcItems = [];\n\nvar jsonLog = JSON.parse('[' + msg.payload.replace(/}\\n{\"timestamp\"/g, '},{\"timestamp\"') + ']');\n\njsonLog.forEach((element, index) => {\n    Object.keys(element.data).forEach((epc) => {\n        \n        if(epcOptions.indexOf(epc) < 0) {\n            epcOptions.push(epc);\n            epcItems.push({epc: epc, data:[]});\n        }\n        \n        var epcItem = epcItems.find( (epcItem) => { return epcItem.epc === epc; });\n\n        var epcItemData = element.data[epc];\n        Object.keys(epcItemData).forEach((threshold) => {\n            var epcItemThresholdData = epcItemData[threshold];\n            epcItemThresholdData.threshold = threshold;\n            epcItemThresholdData.timestamp = element.timestamp;\n            \n            epcItem.data.push(epcItemThresholdData);\n        });\n    });\n});\n\n\ndelete msg['payload'];\n\nflow.set('epcItems', epcItems);\nmsg.options = epcOptions.sort();\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":400,"wires":[["e5518d62.0f0aa","9a2ce01f.b1d58","b05a7936.9a6e18"]]},{"id":"e5518d62.0f0aa","type":"ui_dropdown","z":"f3d8b51b.3c9ef8","name":"Dropdown - EPC","label":"Select an EPC:","place":"Select EPC","group":"bdc5ea30.8432e8","order":4,"width":"10","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1390,"y":500,"wires":[["dd32199d.e0fa48"]]},{"id":"ca438f1b.00fa5","type":"ui_template","z":"f3d8b51b.3c9ef8","group":"f4f7202d.69304","name":"Table - EPC Details","order":2,"width":"32","height":"8","format":"<style>\n\ntable {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\n\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */\n    \n.animate-enter, \n.animate-leave\n{ \n    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    position: relative;\n    display: block;\n} \n\n.animate-enter.animate-enter-active, \n.animate-leave {\n    opacity: 1;\n    top: 0;\n    height: 30px;\n}\n\n.animate-leave.animate-leave-active,\n.animate-enter {\n    opacity: 0;\n    top: -50px;\n    height: 0px;\n}\n    \n.container\n{\n    max-height: 450px;\n    overflow-y: scroll;\n    overflow-x: hidden;\n}\n</style>\n<div>\n  <div class=\"container\" ng-app=\"sortApp\">\n    <table>\n      <thead>\n        <tr style=\"width:100%\">\n          <td>\n            <a href=\"#\">Index</a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = 'timestamp'; sortReverse = !sortReverse\">\n              Time\n              <span ng-show=\"sortType == 'timestamp' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == 'timestamp' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = 'threshold'; sortReverse = !sortReverse\">\n              Threshold \n              <span ng-show=\"sortType == 'threshold' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == 'threshold' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(maxRssi -0)'; sortReverse = !sortReverse\">\n              maxRssi\n              <span ng-show=\"sortType == '(maxRssi -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(maxRssi -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(totalCount -0)'; sortReverse = !sortReverse\">\n              totalCount\n              <span ng-show=\"sortType == '(totalCount -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(totalCount -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(totalConf -0)'; sortReverse = !sortReverse\">\n              totalConf\n              <span ng-show=\"sortType == '(totalConf -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(totalConf -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(inCount -0)'; sortReverse = !sortReverse\">\n              inCount\n              <span ng-show=\"sortType == '(inCount -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(inCount -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(inMaxRssi -0)'; sortReverse = !sortReverse\">\n              inMaxRssi\n              <span ng-show=\"sortType == '(inMaxRssi -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(inMaxRssi -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(inConf -0)'; sortReverse = !sortReverse\">\n              inConf\n              <span ng-show=\"sortType == '(inConf -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(inConf -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(outCount -0)'; sortReverse = !sortReverse\">\n              outCount\n              <span ng-show=\"sortType == '(outCount -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(outCount -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(outMaxRssi -0)'; sortReverse = !sortReverse\">\n              outMaxRssi\n              <span ng-show=\"sortType == '(outMaxRssi -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(outMaxRssi -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(outConf -0)'; sortReverse = !sortReverse\">\n              outConf\n              <span ng-show=\"sortType == '(outConf -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(outConf -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(leftCount -0)'; sortReverse = !sortReverse\">\n              leftCount\n              <span ng-show=\"sortType == '(leftCount -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(leftCount -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(leftMaxRssi -0)'; sortReverse = !sortReverse\">\n              leftMaxRssi\n              <span ng-show=\"sortType == '(leftMaxRssi -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(leftMaxRssi -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(leftConf -0)'; sortReverse = !sortReverse\">\n              leftConf\n              <span ng-show=\"sortType == '(leftConf -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(leftConf -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(rightCount -0)'; sortReverse = !sortReverse\">\n              rightCount\n              <span ng-show=\"sortType == '(rightCount -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(rightCount -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(rightMaxRssi -0)'; sortReverse = !sortReverse\">\n              rightMaxRssi\n              <span ng-show=\"sortType == '(rightMaxRssi -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(rightMaxRssi -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(rightConf -0)'; sortReverse = !sortReverse\">\n              rightConf\n              <span ng-show=\"sortType == '(rightConf -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(rightConf -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(laneCount -0)'; sortReverse = !sortReverse\">\n              laneCount\n              <span ng-show=\"sortType == '(laneCount -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(laneCount -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(laneMaxRssi -0)'; sortReverse = !sortReverse\">\n              laneMaxRssi\n              <span ng-show=\"sortType == '(laneMaxRssi -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(laneMaxRssi -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n          <td>\n            <a href=\"#\" ng-click=\"sortType = '(laneConf -0)'; sortReverse = !sortReverse\">\n              laneConf\n              <span ng-show=\"sortType == '(laneConf -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n              <span ng-show=\"sortType == '(laneConf -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n            </a>\n          </td>\n        </tr>\n      </thead>\n      <tbody>\n        <tr ng-repeat=\"detail in msg.payload.data | orderBy:sortType:sortReverse | filter:search track by $index\" style=\"width:100%\" flex>\n          <td><b ng-bind=\"$index+1\"></b></td>\n          <td ng-bind=\"detail.timestamp\"></td>\n          <td ng-bind=\"detail.threshold\"></td>\n          <td ng-bind=\"detail.maxRssi\"></td>\n          <td ng-bind=\"detail.totalCount\"></td>\n          <td ng-bind=\"detail.totalConf\"></td>\n          <td ng-bind=\"detail.inCount\"></td>\n          <td ng-bind=\"detail.inMaxRssi\"></td>\n          <td ng-bind=\"detail.inConf\"></td>\n          <td ng-bind=\"detail.outCount\"></td>\n          <td ng-bind=\"detail.outMaxRssi\"></td>\n          <td ng-bind=\"detail.outConf\"></td>\n          <td ng-bind=\"detail.leftCount\"></td>\n          <td ng-bind=\"detail.leftMaxRssi\"></td>\n          <td ng-bind=\"detail.leftConf\"></td>\n          <td ng-bind=\"detail.rightCount\"></td>\n          <td ng-bind=\"detail.rightMaxRssi\"></td>\n          <td ng-bind=\"detail.rightConf\"></td>\n          <td ng-bind=\"detail.laneCount\"></td>\n          <td ng-bind=\"detail.laneMaxRssi\"></td>\n          <td ng-bind=\"detail.laneConf\"></td>\n        </tr>\n      </tbody>\n    </table>\n  </div>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1730,"y":700,"wires":[[]]},{"id":"5fc924e2.56991c","type":"function","z":"f3d8b51b.3c9ef8","name":"Data Coordinator","func":"const epc = flow.get('epc');\nconst epcItems = flow.get('epcItems');\n\nconst epcItem = epcItems ? epcItems.find((epcItem) => { return epcItem.epc === epc; }) : null;\n\nvar startDate = flow.get(\"startDate\");\nvar endDate = flow.get(\"endDate\");\n\nif(msg.topic != \"redraw\" && epcItem && epcItem.data){\n    const epcItemData = epcItem.data.sort(function(a, b){\n        return a.timestamp == b.timestamp ? 0 : +(a.timestamp > b.timestamp) || -1;\n    });\n    \n    startDate = epcItemData[0].timestamp;\n    flow.set(\"startDate\", startDate);\n    \n    endDate = epcItemData[epcItemData.length-1].timestamp;\n    flow.set(\"endDate\", endDate);\n}\n\n\n\nreturn [{payload: epcItem}, {payload: startDate}, {payload: endDate}];","outputs":3,"noerr":0,"x":810,"y":700,"wires":[["79a94e34.b076c","8c077437.3d0868","73f2ddaf.599584"],["b16e7b50.aa7bf8"],["bebe3f35.6a82c"]]},{"id":"9a2ce01f.b1d58","type":"ui_text","z":"f3d8b51b.3c9ef8","group":"bdc5ea30.8432e8","order":1,"width":"16","height":"1","name":"Label - Log File","label":"Log File: ","format":"{{msg.file}}","layout":"row-left","x":1380,"y":360,"wires":[]},{"id":"8ed98096.e973f","type":"comment","z":"f3d8b51b.3c9ef8","name":"Start - List available log files","info":"Monitor all browser states, and Start file List process with 'connect'.","x":180,"y":140,"wires":[]},{"id":"b6554945.89f1d8","type":"switch","z":"f3d8b51b.3c9ef8","name":"Connect/Change/Lost?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"connect","vt":"str"},{"t":"eq","v":"change","vt":"str"},{"t":"eq","v":"lost","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":480,"y":200,"wires":[["e496dd5c.d8b6b","5777a7f8.3d1238"],[],[],["f94a3bd1.933d78"]]},{"id":"fc9d1788.26e748","type":"template","z":"f3d8b51b.3c9ef8","name":"Reset Filename Text...","field":"file","fieldType":"msg","format":"handlebars","syntax":"plain","template":"(click on 'filename' in Threshold Logs table)","output":"str","x":1080,"y":340,"wires":[["9a2ce01f.b1d58","b05a7936.9a6e18"]]},{"id":"e496dd5c.d8b6b","type":"change","z":"f3d8b51b.3c9ef8","name":"EDIT: Root Directory for iterationData log files","rules":[{"t":"set","p":"IterationDataDir","pt":"flow","to":"/itemsense/itemsense/home/itemsense/var/output/logs/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":180,"wires":[["cffd43b0.1d0d4"]]},{"id":"cffd43b0.1d0d4","type":"fs-ops-dir","z":"f3d8b51b.3c9ef8","name":"","path":"IterationDataDir","pathType":"flow","filter":"iterationData*.log","filterType":"str","dir":"files","dirType":"msg","x":780,"y":240,"wires":[["c0cd1dd7.8c602"]]},{"id":"c0cd1dd7.8c602","type":"fs-ops-stats","z":"f3d8b51b.3c9ef8","name":"","path":"IterationDataDir","pathType":"flow","filename":"files","filenameType":"msg","stats":"stats","sizeType":"msg","x":1040,"y":240,"wires":[["fc9d1788.26e748","2dc80e6.7853ef2","72324b5c.474954","6399f354.d8c2bc","a93a6535.d53ca8","40d00ebd.d1923"]]},{"id":"df231da0.4765c","type":"comment","z":"f3d8b51b.3c9ef8","name":"File Selected - Parse Content","info":"","x":180,"y":340,"wires":[]},{"id":"83f65338.acc2c","type":"comment","z":"f3d8b51b.3c9ef8","name":"EPC Selected - Show Read Details","info":"","x":200,"y":520,"wires":[]},{"id":"328486dd.71478a","type":"http in","z":"f3d8b51b.3c9ef8","name":"","url":"/download/iterationData","method":"get","upload":true,"swaggerDoc":"","x":240,"y":960,"wires":[["99ae6162.69531"]]},{"id":"1a2b7357.99d08d","type":"http response","z":"f3d8b51b.3c9ef8","name":"","statusCode":"200","headers":{},"x":1230,"y":960,"wires":[]},{"id":"99ae6162.69531","type":"function","z":"f3d8b51b.3c9ef8","name":"Parse Filename","func":"msg.filename = flow.get(\"IterationDataDir\") + msg.payload.f;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":960,"wires":[["2c9a955f.12f27a"]]},{"id":"2c9a955f.12f27a","type":"file in","z":"f3d8b51b.3c9ef8","name":"Read File Contents","filename":"","format":"utf8","chunk":false,"sendError":false,"x":1040,"y":960,"wires":[["1a2b7357.99d08d"]]},{"id":"44c1163.ed337e8","type":"comment","z":"f3d8b51b.3c9ef8","name":"View File - Send file Contents","info":"Called from Browser link","x":190,"y":900,"wires":[]},{"id":"67f07e9e.e5ed1","type":"ui_chart","z":"f3d8b51b.3c9ef8","name":"Confidence","group":"d04f4b33.2afbc8","order":2,"width":"32","height":"10","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"1000","removeOlderPoints":"10000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1710,"y":780,"wires":[[],[]]},{"id":"79a94e34.b076c","type":"function","z":"f3d8b51b.3c9ef8","name":"Series - Conf Chart","func":"//const thresholds = [...new Set(msg.payload.map(item => item.threshold))];\nconst fieldnames = ['inConf', 'outConf'];\n\nvar startDate = flow.get(\"startDate\");\nvar endDate = flow.get(\"endDate\");\n\nvar chartData = {};\n\nif(msg.payload && msg.payload.data){\n    msg.payload.data.forEach((item) => {\n        if(item.timestamp >= startDate && item.timestamp <= endDate){\n            fieldnames.forEach((fieldname) => {\n                var seriesKey = fieldname + \" (\" + item.threshold + \")\";\n                if(! chartData.hasOwnProperty(seriesKey)) {\n                    chartData[seriesKey] = [];\n                }\n                chartData[seriesKey].push({x:item.timestamp, y:item[fieldname]});\n            });\n        }\n    });\n}\nvar chart = {series: [], data: [], labels:[]};\n\nObject.keys(chartData).forEach((key) => {\n    chart.series.push(key);\n    chart.data.push(chartData[key]);\n    chart.labels.push(key);\n});\n\nreturn {payload: [chart]};","outputs":1,"noerr":0,"x":1390,"y":780,"wires":[["67f07e9e.e5ed1"]]},{"id":"40d00ebd.d1923","type":"function","z":"f3d8b51b.3c9ef8","name":"Reset Chart / Send Series Data","func":"flow.set(\"startDate\", \"\");\nflow.set(\"endDate\", \"\");\n\nepc = flow.get('epc');\nreturn [{payload: []}, {payload: epc}];","outputs":2,"noerr":0,"x":510,"y":620,"wires":[["67f07e9e.e5ed1","776908ec.ed3188"],["5fc924e2.56991c"]]},{"id":"e151f5b0.700128","type":"function","z":"f3d8b51b.3c9ef8","name":"Build Filename","func":"msg.file = msg.payload;\nmsg.filename = flow.get(\"IterationDataDir\") + msg.file;\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":400,"wires":[["c7212b29.23c688"]]},{"id":"e00ab083.362c3","type":"debug","z":"f3d8b51b.3c9ef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1370,"y":60,"wires":[]},{"id":"776908ec.ed3188","type":"ui_chart","z":"f3d8b51b.3c9ef8","name":"Count","group":"d04f4b33.2afbc8","order":1,"width":"32","height":"10","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Loading...","dot":true,"ymin":"","ymax":"","removeOlder":"1000","removeOlderPoints":"10000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1690,"y":740,"wires":[[],[]]},{"id":"8c077437.3d0868","type":"function","z":"f3d8b51b.3c9ef8","name":"Series - Count Chart","func":"//const thresholds = [...new Set(msg.payload.map(item => item.threshold))]\nconst fieldnames = ['inCount', 'outCount'];\n\nvar startDate = flow.get(\"startDate\");\nvar endDate = flow.get(\"endDate\");\n\nvar chartData = {};\n\nif(msg.payload && msg.payload.data){\n    msg.payload.data.forEach((item) => {\n        if(item.timestamp >= startDate && item.timestamp <= endDate){\n            fieldnames.forEach((fieldname) => {\n                var seriesKey = fieldname + \" (\" + item.threshold + \")\";\n                if(! chartData.hasOwnProperty(seriesKey)) {\n                    chartData[seriesKey] = [];\n                }\n                chartData[seriesKey].push({x:item.timestamp, y:item[fieldname]});\n            });\n        }\n    });\n}\n\nvar chart = {series: [], data: [], labels:[]};\n\nObject.keys(chartData).forEach((key) => {\n    chart.series.push(key);\n    chart.data.push(chartData[key]);\n    chart.labels.push(key);\n});\n\nreturn {payload: [chart]};","outputs":1,"noerr":0,"x":1400,"y":740,"wires":[["776908ec.ed3188"]]},{"id":"9544f6dc.c0aa28","type":"ui_button","z":"f3d8b51b.3c9ef8","name":"","group":"5f9da8ad.1c4ce8","order":2,"width":0,"height":0,"passthru":false,"label":"Refresh","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":240,"wires":[["cffd43b0.1d0d4"]]},{"id":"b16e7b50.aa7bf8","type":"ui_text_input","z":"f3d8b51b.3c9ef8","name":"","label":"Start Date","group":"bdc5ea30.8432e8","order":5,"width":"4","height":"1","passthru":false,"mode":"text","delay":300,"topic":"","x":1360,"y":820,"wires":[["3798c487.75411c"]]},{"id":"bebe3f35.6a82c","type":"ui_text_input","z":"f3d8b51b.3c9ef8","name":"","label":"End Date","group":"bdc5ea30.8432e8","order":6,"width":"4","height":"1","passthru":false,"mode":"text","delay":300,"topic":"","x":1360,"y":860,"wires":[["1ce7cc44.6474d4"]]},{"id":"ad533945.59a288","type":"ui_button","z":"f3d8b51b.3c9ef8","name":"Button - Redraw","group":"bdc5ea30.8432e8","order":7,"width":"2","height":"1","passthru":false,"label":"Redraw","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"redraw","x":200,"y":700,"wires":[["5fc924e2.56991c"]]},{"id":"dd32199d.e0fa48","type":"function","z":"f3d8b51b.3c9ef8","name":"Save EPC","func":"flow.set('epc', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":580,"wires":[["40d00ebd.d1923","7e712a1d.c14264"]]},{"id":"2dc80e6.7853ef2","type":"function","z":"f3d8b51b.3c9ef8","name":"Reset EPC Options","func":"msg.options = [];\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":500,"wires":[["e5518d62.0f0aa"]]},{"id":"72324b5c.474954","type":"function","z":"f3d8b51b.3c9ef8","name":"Reset EPC Label","func":"flow.set(\"epc\", \"\");\nreturn {payload: \"Select a Log File from the table above:\"};","outputs":1,"noerr":0,"x":1070,"y":560,"wires":[["7e712a1d.c14264"]]},{"id":"7e712a1d.c14264","type":"ui_text","z":"f3d8b51b.3c9ef8","group":"f4f7202d.69304","order":1,"width":0,"height":0,"name":"Label - Selected EPC","label":"EPC: ","format":"{{msg.payload}}","layout":"row-left","x":1400,"y":580,"wires":[]},{"id":"abfb80e.eeff28","type":"function","z":"f3d8b51b.3c9ef8","name":"Reset EPC Label","func":"flow.set(\"epc\", \"\");\nreturn [{payload: \"Select an EPC from the dropdown above:\"}, {payload: \"\"}];","outputs":2,"noerr":0,"x":1730,"y":240,"wires":[["40d00ebd.d1923"],["a93a6535.d53ca8"]]},{"id":"3798c487.75411c","type":"template","z":"f3d8b51b.3c9ef8","name":"Save startDate","field":"startDate","fieldType":"flow","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":1720,"y":820,"wires":[[]]},{"id":"1ce7cc44.6474d4","type":"template","z":"f3d8b51b.3c9ef8","name":"Save endDate","field":"endDate","fieldType":"flow","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":1720,"y":860,"wires":[[]]},{"id":"b05a7936.9a6e18","type":"ui_text","z":"f3d8b51b.3c9ef8","group":"bdc5ea30.8432e8","order":2,"width":"16","height":"1","name":"Label - EPC Count","label":"EPC Count","format":"{{msg.options.length}}","layout":"row-left","x":1390,"y":400,"wires":[]},{"id":"5777a7f8.3d1238","type":"ui_template","z":"f3d8b51b.3c9ef8","group":"5f9da8ad.1c4ce8","name":"UPLOAD: Local FIle","order":1,"width":0,"height":0,"format":"<input id=\"logFile\" type=\"file\" name=\"fileToUpload\" accept=\".log\" value=\"\">\n<script>\n(function(scope){\n    function handleFileSelect(event) {\n        if(event && event.target && event.target.files){\n            var files = event.target.files;\n            var fullPath = event.target.value;\n            var fileName = fullPath.replace(/^.*[\\\\\\/]/, '');\n\n            for (var i = 0; i < files.length; i++) {\n                var reader = new FileReader();\n\n                reader.onload = function(){\n                    scope.send({file:fileName, payload:reader.result});\n                };\n    \n                reader.readAsText(files[i]);\n            }\n        }\n    };\n\n    scope.$watch('msg', function(msg){\n        document.getElementById('logFile').addEventListener('change', handleFileSelect, false);\n    });\n  \n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":820,"y":100,"wires":[["a277bf25.72fe1","abfb80e.eeff28"]]},{"id":"3e2b69b2.cf5e76","type":"ui_text_input","z":"f3d8b51b.3c9ef8","name":"TEXT: EPC Filter","label":"EPC Filter","group":"bdc5ea30.8432e8","order":3,"width":"6","height":"1","passthru":false,"mode":"text","delay":300,"topic":"","x":1390,"y":440,"wires":[["dae2eca.d7fa21"]]},{"id":"dae2eca.d7fa21","type":"function","z":"f3d8b51b.3c9ef8","name":"Filter EPC Items","func":"filter = msg.payload.toLowerCase();\n\nallItems = flow.get('epcItems');\nfilteredItems = allItems.filter(function (el) {\n  return el.epc.toLowerCase().startsWith(filter);\n});\n\nmsg.options = filteredItems.map(a => a.epc).sort();\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":440,"wires":[["e5518d62.0f0aa"]]},{"id":"a93a6535.d53ca8","type":"function","z":"f3d8b51b.3c9ef8","name":"Clear EPC Filter","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":440,"wires":[["3e2b69b2.cf5e76"]]},{"id":"73f2ddaf.599584","type":"switch","z":"f3d8b51b.3c9ef8","name":"FILTER Null Data?","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1390,"y":700,"wires":[["ca438f1b.00fa5"]]}]